/* Styles for Demo Purpose */
#progress-bar{
	border: 1px solid rgba(0,0,0,0.2);
	padding: 10px;
	margin: 0 auto;
	text-align: center;
}

/* End of styes for this demo */
#progress-bar ul{
	list-style: none;
	padding: 0;
	margin: 0;
}

#progress-bar li{
	display: inline-block;
}

.separator{
	position: relative;
	top: -2px;
	height: 5px;
	width: 100px;
	background-color:rgba(149, 165, 166,1.0);
}

.steps{
	background-color: rgba(149, 165, 166,1.0);
	border-radius: 30px;
	color: #fff;
	height: 30px;
	line-height: normal;
	padding: 5px;
	text-align: center;
	width: 30px;
}

.active{
	background-color: rgba(231, 76, 60,0.8);		
}

.completed{
	background-color: rgba(192, 57, 43,1.0);
}